.centro {
    display: flex; 
    justify-content: center; 
    align-items:center;
    flex-direction: column;
}

.icono{
    height: 50px;
    height:250px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.colorBtn{
    background-color: aqua;
}