<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Life Diary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>Bienvenido <span *ngIf="usuario">{{usuario}}</span></h1>
      <!-- {{interpolacion}} 
          Permite mostrar los datos desde el script a la visual
          verificar el data en el home.page.ts
        -->
      
    </ion-label>
  </ion-title>
  <div class="centrar">
    <img class="img" src="../../assets/img/file_notes.png" alt="">
  </div>

  <h2 class="ion-text-center">Capitulos vivido</h2>

  <br>

  <ion-card class="fondo">
  <ion-card-header>
    <ion-card-title>Títulos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let x of titulosRecibidos" class="fondo">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="../../assets/img/estrella.png" />
        </ion-thumbnail>
        <ion-label > {{x}} </ion-label>
      </ion-item>
   
    </ion-list>
  </ion-card-content>
</ion-card>

       <div class="example-button-container">
        <button [routerLink]="['/agregar']" (click)="alerta()" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
          <mat-icon >plus_one</mat-icon>
        </button>
        <button [routerLink]="['/calendario']" (click)="alerta()" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
          <mat-icon ><span class="material-symbols-outlined">calendar_month</span></mat-icon>
        </button>
      </div>
</ion-content>
